* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calculator-container {
  height: 100vh;
  width: 90vw;
  max-width: 1000px;
  background-color: purple;
  margin: 0 auto;
  padding: 64px;
}

.calculator-screen {
  background-color: white;
  width: 100%;
  height: 70px;
  margin-bottom: 48px;
}

.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 64px);
  align-items: stretch;
  /* height: calc(100% - 70px -128px); */
  /* If the height is 100%; of the parent container and that is 100vh. */
  /* gap: 16px; */
}

.calculator-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% / 4) - ((3) * (0px / 4)));
}
