@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
.calculator-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 90vw;
  max-width: 1000px;
  background-color: #f7f8fb;
  margin: 0 auto;
  padding: 32px;
}

.calculator-screen {
  display: flex;
  align-items: center;
  background-color: #fbfcfd;
  width: 100%;
  height: 70px;
  padding: 16px;
  margin-bottom: 48px;
}

.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
  flex-grow: 1;
  gap: 32px;
  /* height: calc(100% - 70px -128px); */
  /* If the height is 100%; of the parent container and that is 100vh. */
}

.calculator-button {
  background-color: #fbfcfd;
  color: #38b9ff;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% / 4) - ((3) * (32px / 4)));
  border: none;
  border-radius: 16px;
}

.calculator-button:hover {
  border: 1px solid #38b9ff;
}
